---
import { BlogList } from "astro-blog-kit/components";
import { createWPClient } from "astro-blog-kit/utils";
import config from "../../../blog.config";
__LAYOUT_IMPORT__

const wp = createWPClient(config.wpUrl);
const { posts, totalPages } = await wp.getPosts({ perPage: config.postsPerPage ?? 5 });

const bt = {
  blog: {
    tagline: "__T_TAGLINE__",
    title_line1: "__T_TITLE_LINE1__",
    title_line2: "__T_TITLE_LINE2__",
    description: "__T_DESCRIPTION__",
    btncta: "__T_BTNCTA__",
    btn_prev: "__T_BTN_PREV__",
    btn_next: "__T_BTN_NEXT__",
  },
};

const base = import.meta.env.BASE_URL;
---

__LAYOUT_OPEN__
  <BlogList
    posts={posts}
    currentPage={1}
    totalPages={totalPages}
    basePath={`${base}blog/page/`}
    blogBase={`${base}blog/`}
    dateLocale={config.locale ?? "en"}
    t={bt}
    locale={config.locale ?? "en"}
    layout={config.defaultLayout ?? "magazine"}
  />
__LAYOUT_CLOSE__