---
import { BlogPost, Comments, CommentForm } from "astro-blog-kit/components";
import { createWPClient, getStaticPathsForPosts } from "astro-blog-kit/utils";
import config from "../../../blog.config";
__LAYOUT_IMPORT_SLUG__

export async function getStaticPaths() {
  const wp = createWPClient(config.wpUrl);
  const posts = await wp.getAllPosts();
  return getStaticPathsForPosts(posts);
}

const { post } = Astro.props;

const wp = createWPClient(config.wpUrl);
const comments = post.id ? await wp.getComments(post.id) : [];

const bt = {
  blog: {
    tagline: "__T_TAGLINE__",
    title_line1: "__T_TITLE_LINE1__",
    title_line2: "__T_TITLE_LINE2__",
    description: "__T_DESCRIPTION__",
    btncta: "__T_BTNCTA__",
    btn_prev: "__T_BTN_PREV__",
    btn_next: "__T_BTN_NEXT__",
  },
};
---

__LAYOUT_OPEN__
  <BlogPost post={post} t={bt} lang={config.locale ?? "en"} />
  <Comments comments={comments} postId={post.id ?? 0} />
  <CommentForm postId={post.id ?? 0} apiRoute="/api/comments" />
__LAYOUT_CLOSE__